<a href="https://colab.research.google.com/github/kkobel001/python_project_learn/blob/main/Agregacje.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd

data={
    "product" : ["Coffe", "Tea", "Water","Tea", "Water","Tea", "Water"],
    "price" : [12,8,3,12,8,3,4],
    "units":[120,80,200,120,80,200,100],
    "region":["North","North","North","South","South","South","West"]
}

sales=pd.DataFrame(data)
print(sales)

print(sales.groupby("product")["units"].sum())

print(sales.groupby(["product","region"])["units"].agg(["sum","mean"]))

  product  price  units region
0   Coffe     12    120  North
1     Tea      8     80  North
2   Water      3    200  North
3     Tea     12    120  South
4   Water      8     80  South
5     Tea      3    200  South
6   Water      4    100   West
product
Coffe    120
Tea      400
Water    380
Name: units, dtype: int64
                sum   mean
product region
Coffe   North   120  120.0
Tea     North    80   80.0
        South   320  160.0
Water   North   200  200.0
        South    80   80.0
        West    100  100.0

In [17]:
# import pandas as pd

#join


products=pd.DataFrame({
     "product" : ["Coffe", "Tea", "Water","Juice"],
     "category": ["Hot drink","Hot drink","Cold drink","Cold drink",]
})

sales_summary=pd.DataFrame({
     "product" : ["Coffe", "Tea", "Water"],
     "total units" : [270,180,450]
})

print(products)
print(sales_summary)


#join funkcja merged on=klucz wspolny


marged=pd.merge(products,sales_summary, on="product",how="left")
print(marged)

#union
sales_q1 = sales_summary.copy()
sales_q1["quarter"] ="Q1"
sales_q2 = sales_summary.copy()
sales_q2["quarter"] ="Q2"

concat_df= pd.concat([sales_q1,sales_q2])
print(concat_df)

  product    category
0   Coffe   Hot drink
1     Tea   Hot drink
2   Water  Cold drink
3   Juice  Cold drink
  product  total units
0   Coffe          270
1     Tea          180
2   Water          450
  product    category  total units
0   Coffe   Hot drink        270.0
1     Tea   Hot drink        180.0
2   Water  Cold drink        450.0
3   Juice  Cold drink          NaN
  product  total units quarter
0   Coffe          270      Q1
1     Tea          180      Q1
2   Water          450      Q1
0   Coffe          270      Q2
1     Tea          180      Q2
2   Water          450      Q2