<a href="https://colab.research.google.com/github/kkobel001/python_project_learn/blob/main/datado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world")
a=1
b='2'
result= a+b
print(result)

Hello world
3

In [ ]:
type(a)
int(b)
type(b)

int

In [ ]:
#BMI=waga /wysokosc2

weight=float(input("Weight [kg]: "))
height=float(input("Height [m]: "))
BMI=weight/height**2
print(BMI)

Weight [kg]: 57
Height [m]: 1.64
21.192742415229034

# Modul.3

In [ ]:
d = True
e= False
#and &
#or
#not zmienia na kartosc odwrotna


print(d | e)

True

In [ ]:
num1=12
num2=-2
if num2 ==0:
  print("we can't divide by 0")
elif num2 <0:
  print('Watch out , you divide by negative number')
else:
  print(num1/num2)

print('test')


#if_bigger= num1/num2
#if_bigger

Watch out , you divide by negative number
test

In [ ]:
num1= input('Numer 1: ')
num2= input('Numer 1: ')
sign= input('sign: ')

num1= float(num1)
num2=float(num2)
result= 0
valid=True

if sign =="+":
  result= num1+num2
elif sign =="-":
  result= num1-num2
elif sign =="*":
  result= num1*num2
elif sign =="/":
  result= num1/num2
else:
  result_message='wrong sign'
  valid= False

if valid:
  result_message=f"result of: {num1} {sign} {num2} = {result}"

print(result_message)

Numer 1: 4
Numer 1: 4
sign: *
result of: 4.0 * 4.0 = 16.0

In [ ]:
int_list=[11,24,55]
int_list
print(int_list[1])

sting_list=['kasia','basia','marysia']
sting_list[2]

mix=['kasia', sting_list, 3.5]
mix[1][1]

24

'basia'

In [25]:
#tuple- krotka

l1=[11,12,13]
int_tuple=(1,2,3,4)
int_tuple
mix_tuple=(12,"Car",29.99,l1)
mix_tuple[3][1]=555
int_tuple.index(4)

3

In [34]:
int_tuple=(-1,2,3,4)

searched_value=int(input("Number: "))
if searched_value in int_tuple  :
  print(int_tuple.index(searched_value))
else:
  print("Can't find this")

Number: 3
2