<a href="https://colab.research.google.com/github/kkobel001/python_project_learn/blob/main/loopipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
products=["laptop", "phone", "headphones"]

for p in products:
  print("-",p)


pair=("store", "warsaw")
for word in pair:
  print(word)


int_list=[2,5,6,7,8,9]

for number in int_list:
  # print(number*2)
  number *= 2
 #number = number*2
list(range(4))

- laptop
- phone
- headphones
store
warsaw

[0, 1, 2, 3]

In [ ]:
int_list=[2,5,6,7,8,9]
list_len=len(int_list)
print("len: ", list_len)

# for i in range(4):
#   print(i)

for i in range(list_len):
  print('index:', i)
  int_list[i]*=2
  # 1 iteracja int_list[0] = int_list[0]*2
  # 2 iteracja int_list[1] = int_list[0]*2
  # 3 iteracja int_list[2] = int_list[0]*2
  # 4 iteracja int_list[3] = int_list[0]*2
  # 5 iteracja int_list[4] = int_list[0]*2
int_list


# enumerate

for idx,price in enumerate(int_list):
  print(idx, '  ', price)

len:  6
index: 0
index: 1
index: 2
index: 3
index: 4
index: 5
0    4
1    10
2    12
3    14
4    16
5    18

In [ ]:
sales = {
    "laptop": 15
    ,"phone": 25
    ,"headphones":40
  }

# for i in sales:
#   print(sales[i])

for val in sales.values():
  print(val)

for pair in sales.items():
  # print(key)
  # values=key[1]
  # key[0]
  # print(key,values)
  key,values=pair #zmianna_1, zmienna-2 =(key, value)
  print(key, values)



  str_example="abcd"
  print(str_example[1])

15
25
40
laptop 15
b
phone 25
b
headphones 40
b

In [ ]:
sales = { "laptop": 15,"phone": 25,"headphones":40}

#znajdz pierwszy produkt, którego sprzedaż przekracza 20 sztuk
for pair in sales.items():
  key,values=pair
  if values > 20:
    print(key)
    break
  print("in for")
print("outside of for")


#znajdz pierwszy produkt, którego ponizej  30 sztuk
for pair in sales.items():
  key,values=pair
  if values <= 30:
    print(key)
    continue
  print("in for")
print("outside of for")

in for
phone
outside of for
laptop
phone
in for
outside of for

In [ ]:
count = 3

while count > 0:
  print("Countdown", count)
  count -=1
print("End")


user_input= ""
while user_input != "q":
  user_input =input("Please press q: ")

Countdown 3
Countdown 2
Countdown 1
End
Please press q: p
Please press q: n
Please press q: q

In [ ]:
sales_data = {
    "laptop" : {"unitis": 15, "price": 3200.00},
    "phone" : {"unitis": 15, "price": 2100.00},
    "headphones" : {"unitis": 15, "price": 550.00}
}

print("Products list")
for products in sales_data:
  print(products)

total_units= 0
for data in sales_data.values():
  total_units += data["unitis"]

print(total_units)

Products list
laptop
phone
headphones
45