<a href="https://colab.research.google.com/github/kkobel001/python_project_learn/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# open() plik -> red -> cast na int -> petla for -> zmiana wartosci per rekord -> zapis zwrotny

import pandas as pd

# Series

s= pd.Series([10,20,30,40])
print(type(s))


print(s*2)

print(s>=30)

<class 'pandas.core.series.Series'>
0    20
1    40
2    60
3    80
dtype: int64
0    False
1    False
2     True
3     True
dtype: bool

In [33]:
#DataFrame ala els tabela

data={
    "product" : ["Coffe", "Tea", "Water"],
    "price" : [12,8,3],
    "units":[120,80,200]
}

df=pd.DataFrame(data)
print(df)
print(type(df))

#odczytywanie plik√≥w
df.to_csv('sales.csv', index=False)

df_csv=pd.read_csv("sales_data.csv")
df_csv

df_products=pd.read_csv("products.csv")
df_products

# print(df_csv.head(3))

#ostatni rekord
# print(df_csv.tail(3))

#info zwroci nam informacje odnosnie konkretnych kolumn
# print(df_csv.info())

#podstawowe dane typu count/min/max
# print(df_csv.describe())

# print(df_csv["units"])
# print(df_csv["units"]+20)

# print(df_csv[["product_id","units"]])

print(df_csv["units"]*df_products["price"])

  product  price  units
0   Coffe     12    120
1     Tea      8     80
2   Water      3    200
<class 'pandas.core.frame.DataFrame'>
0       2406.95
1       3449.26
2       7825.60
3        568.08
4         10.58
         ...
9995        NaN
9996        NaN
9997        NaN
9998        NaN
9999        NaN
Length: 10000, dtype: float64