<a href="https://colab.research.google.com/github/kkobel001/python_project_learn/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# open() plik -> red -> cast na int -> petla for -> zmiana wartosci per rekord -> zapis zwrotny

import pandas as pd

# Series

s= pd.Series([10,20,30,40])
print(type(s))


print(s*2)

print(s>=30)

<class 'pandas.core.series.Series'>
0    20
1    40
2    60
3    80
dtype: int64
0    False
1    False
2     True
3     True
dtype: bool

In [ ]:
#DataFrame ala els tabela

data={
    "product" : ["Coffe", "Tea", "Water"],
    "price" : [12,8,3],
    "units":[120,80,200]
}

df=pd.DataFrame(data)
print(df)
print(type(df))

#odczytywanie plików
df.to_csv('sales.csv', index=False)

df_csv=pd.read_csv("sales_data.csv")
df_csv

df_products=pd.read_csv("products.csv")
df_products

# print(df_csv.head(3))

#ostatni rekord
# print(df_csv.tail(3))

#info zwroci nam informacje odnosnie konkretnych kolumn
# print(df_csv.info())

#podstawowe dane typu count/min/max
# print(df_csv.describe())

# print(df_csv["units"])
# print(df_csv["units"]+20)

# print(df_csv[["product_id","units"]])

print(df_csv["units"]*df_products["price"])

  product  price  units
0   Coffe     12    120
1     Tea      8     80
2   Water      3    200
<class 'pandas.core.frame.DataFrame'>
0       2406.95
1       3449.26
2       7825.60
3        568.08
4         10.58
         ...
9995        NaN
9996        NaN
9997        NaN
9998        NaN
9999        NaN
Length: 10000, dtype: float64

In [ ]:
import pandas as pd

data={
    "product" : ["Coffe", "Tea", "Water"],
    "price" : [12,8,3],
    "units":[120,80,200]
}

df=pd.DataFrame(data)
print(df.loc[0:1,["price", "units"] ])

#loc - jelsi chcemy się dostac do jakiegos dicta.. zawsze wyszukuje po indeksie , wiec jak chcemy 2 rekordy,
#cd .. to wyswietli nam ten który jest pod 0 i 1, wiec wpisujemy 0:1
#iloc - jesli chcemy dostac sie do dicta, ale wyszukuje po kolejnosci, a nie indeksie jak loc , a
# ilosc- jak chcemy wyswietlic 2 rekordy to tez wyswietli 0 i 1, ale wpisujemy 0:2


# nir dziala, bo nie dziala, bo iloc nie dziala na nazwach kolumn. iloc dziala na kolejnosci
# print(df.iloc[0:2,["price", "units"]])
#poprawnie:
print(df.iloc[0:2,1:3])


#maski boolowe /. jednowymiarowa tablica
df["units"] > 100

#jak chcemy pokazac , które dokladne rekordy sa powyzej 100
print(df.loc[df["units"] > 100, ["product","units"]])

   price  units
0     12    120
1      8     80
   price  units
0     12    120
1      8     80
  product  units
0   Coffe    120
2   Water    200

In [49]:
df2 = df.set_index("product")
# df2.loc["Coffee"]
# df2

df2.iloc[0]


df_rest=df2.reset_index()
df_rest

df_custom=pd.DataFrame(data,index=['a','b','c'])
df_custom.iloc[2]

product    Water
price          3
units        200
Name: c, dtype: object

In [58]:
data={
    "product" : ["Coffe", "Tea", "Water","Juice"],
    "price" : [12,8,None,3],
    "units":[120,None,200,80],
    "region":["North","South","East", None]
}

df=pd.DataFrame(data)
df


# print(df.isna())
print(df.isna().any())

print(df.describe())


#wartosci ktore nam brakuje
#1 podejscie-usuwamy te ktore sa puste
print(df.dropna())
# ta metode stosuje sie jedynie wtedy kiedy jestesmy pewni ze chcemy pracowac jedynie z danymi pelnymi, poniewaz on usuwa cale rekordy

#brak unitow = zero:
df_filled=df.fillna({"price": 10, "units":0, "region": "Unknown"})
print(df_filled)

product    False
price       True
units       True
region      True
dtype: bool
           price       units
count   3.000000    3.000000
mean    7.666667  133.333333
std     4.509250   61.101009
min     3.000000   80.000000
25%     5.500000  100.000000
50%     8.000000  120.000000
75%    10.000000  160.000000
max    12.000000  200.000000
  product  price  units region
0   Coffe   12.0  120.0  North
  product  price  units   region
0   Coffe   12.0  120.0    North
1     Tea    8.0    0.0    South
2   Water   10.0  200.0     East
3   Juice    3.0   80.0  Unknown

In [65]:
df_filled.sum()
df_filled.max()
print(df_filled[["price", "units"]].min())

#na poziomie kolumny
print(df_filled[["price", "units"]].max())
#na poziomie rekordu
print(df_filled[["price", "units"]].max(axis=1))

price    3.0
units    0.0
dtype: float64
price     12.0
units    200.0
dtype: float64
0    120.0
1      8.0
2    200.0
3     80.0
dtype: float64